* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(84px * 8);
    height: calc(84px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
   
}

.black {
    background-color: rgb(122, 122, 122);
}

.white {
    background-color: rgb(182, 181, 181);
}

.selected {
    background-color: rgba(112, 96, 76, 0.599);
}

.available {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: rgba(0, 108, 9, 0.453);
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}

.timer {
    margin-right: 50px;
}

.restartButton {
    padding: 1em;
    margin-bottom: 300px;
}